body {
    width: 1200px;
}

/* header */
header {
    position: sticky;
    top: 0;
}

header div {
    background-color: #c6eeff;
    margin: 0px;
    height: 50px;
}

header img {
    float: left;
    height: 36px;
    margin: 7px;
}

header h1 {
    float: left;
    display: inline;
    color: #004B84;
    padding-top: 6px;
    margin: 0px;
    letter-spacing: 5px;
    font-size: 28px;
}

.current_time {
    float: left;
    height: 29px;
    font-size: 20px;
    color: #004B84;
    background-color: white;
    padding: 4px 20px;
    margin: 6px 15px;
    border-radius: 10px;
    letter-spacing: 2px
}

.subtitle {
    float: right;
    font-size: 26px;
    font-weight: normal;
    letter-spacing: 3px;
    margin: 2px 5px 0px;
}

.logout {
    float: right;
    height: 50px;
    background: none;
}

.logout img {
    height: 30px;
    margin: 10px;
    margin-left: 5px;
}

/* main */
main .out {
    float: left;
    width: 1120px;
    border: #004B84 2px solid;
    border-radius: 30px;
    margin: 15px 8px;

}

main p {
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    color: #4479a1;
    margin: 15px 0px 5px;
    letter-spacing: 2px;
}

table, td {
    /*border: 1px #004B84 solid;*/
    border-collapse: collapse;
    width: 1060px;
    margin: 10px 30px;
    color: #4479a1;
    font-weight: 600;
    font-size: 17px;
}

td {
    height: 35px;
}

.input {
    border: 0;
    border-bottom: 1.5px #4479a1 solid;
    font-size: 17px;
    width: 120px;
    font-family: serif;
}

.insert {
    border: 0;
    font-size: 17px;
    font-family: serif;
}

.insert:hover {
    cursor: default;
}

.remark_iso {
    border: 1.5px #4479a1 solid;
    border-radius: 5px;
    width: 255px;
    margin-top: 5px;
    resize: none;
    vertical-align: middle;
}

.remark {
    border: 1.5px #4479a1 solid;
    border-radius: 5px;
    width: 610px;
    margin-top: 5px;
    resize: none;
    vertical-align: middle;
}

/*.register_datetime {*/
/*    color: #4479a1;*/
/*    font-weight: 600;*/
/*    font-size: 17px;*/
/*    font-family: serif;*/
/*}*/

.btn {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 3px;
    width: 120px;
    height: 35px;
    margin: 10px 500px 20px;
    color: #004B84;
    background-color: #c6eeff;
    border: 0;
    border-radius: 10px;
    transition-duration: 0.25s;
}

.btn:hover {
    background-color: #004b84d1;
    color: white;
    cursor: pointer;
}

/* navbar */
nav, form {
    float: left;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 60px;
    height: 500px;
    background-color: #fffbe4;
    color: #004B84;
    font-weight: 700;
}

nav a {
    text-decoration: none;
    color: inherit;
    display: block;
    text-align: center;
    font-size: 15px;
    padding: 5px;
}

nav .second_img {
    opacity: 0;
}

nav a:hover {
    background-color: #4479a1;
    color: white;
}

nav a:hover .first_img {
    opacity: 0;
}

nav a:hover .second_img {
    opacity: 1;
}

nav img {
    position: absolute;
    left: 22px;
}

ul p {
    font-size: 12px;
    color: #004B84;
    margin-top: 110px;
}

.update_date, .update_time {
    color: #004B84;
    font-weight: bold;
    font-size: 14px;
}