body {
    width: 1200px;
}

/* header */
header {
    position: sticky;
    top: 0;
}

header div {
    background-color: #c6eeff;
    margin: 0px;
    height: 50px;
}

header img {
    float: left;
    height: 36px;
    margin: 7px;
}

header h1 {
    float: left;
    display: inline;
    color: #004B84;
    padding-top: 3px;
    margin: 0px;
    letter-spacing: 5px
}

.current_time {
    float: left;
    height: 29px;
    font-size: 20px;
    color: #004B84;
    background-color: white;
    padding: 4px 20px;
    margin: 6px 15px;
    border-radius: 10px;
    letter-spacing: 2px
}

.subtitle {
    float: right;
    font-size: 26px;
    font-weight: normal;
    letter-spacing: 3px;
    margin: 4px 25px 0px;
}

/* navbar */
nav, form {
    float: left;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 60px;
    height: 500px;
    background-color: #fffbe4;
    color: #004B84;
    font-weight: 700;
}

nav a {
    text-decoration: none;
    color: inherit;
    display: block;
    text-align: center;
    font-size: 15px;
    padding: 5px;
}

nav .second_img {
    opacity: 0;
}

nav a:hover {
    background-color: #4479a1;
    color: white;
}

nav a:hover .first_img {
    opacity: 0;
}

nav a:hover .second_img {
    opacity: 1;
}

nav img {
    position: absolute;
    left: 22px;
}

ul p {
    font-size: 12px;
    font-weight: bold;
    color: #004B84;
    margin-top: 180px;
    text-align: center;
    letter-spacing: 2px;
}

.update_date, .update_time {
    font-size: 14px;
    font-weight: bold;
    color: #004B84;
}

/* main */
main .out {
    float: left;
    width: 400px;
    border: #004B84 2px solid;
    border-radius: 30px;
    margin: 55px 360px;
}

main div p {
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    color: #4479a1;
    margin: 30px 0px 0px;
    letter-spacing: 2px;
}

main .in {
    color: #4479a1;
    font-size: 20px;
    font-weight: 600;
    margin: 30px 65px 30px;
}

select {
    border: 0;
    border-bottom: 1.5px #4479a1 solid;
    font-size: 17px;
    width: 150px;
}

#indexNum {
    border: 0;
    border-bottom: 1.5px #4479a1 solid;
    font-size: 17px;
    width: 166px;
    font-family: serif;
}

span {
    color: black;
    font-family: serif;
    font-weight: lighter;
    font-size: 17px;
}

.btn {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2px;
    width: 120px;
    height: 35px;
    margin: 10px 138px 30px;
    color: #004B84;
    background-color: #c6eeff;
    border: 0;
    border-radius: 10px;
    transition-duration: 0.25s;
}

.btn:hover {
    background-color: #004b84d1;
    color: white;
    cursor: pointer;
}