body {
    width: 1200px;
    height: 500px;
}

/* header */
header {
    position: sticky;
    top: 0;
}

header div {
    background-color: #c6eeff;
    margin: 0px;
    height: 50px;
}

header img {
    float: left;
    height: 36px;
    margin: 7px;
}

header h1 {
    float: left;
    display: inline;
    color: #004B84;
    padding-top: 6px;
    margin: 0px;
    letter-spacing: 5px;
    font-size: 28px;
}

.current_time {
    float: left;
    height: 29px;
    font-size: 20px;
    color: #004B84;
    background-color: white;
    padding: 4px 20px;
    margin: 6px 15px;
    border-radius: 10px;
    letter-spacing: 2px
}

.subtitle {
    float: right;
    font-size: 26px;
    font-weight: normal;
    letter-spacing: 3px;
    margin: 4px 25px 0px;
}

/* main */
table, td{
    /* border: 1px black solid; */
    border-collapse: collapse;
    width: 690px;
    margin: 80px auto;
}

button {
    border-radius: 30px;
    border: 1px black solid;
    width: 230px;
    height: 300px;
    font-size: 26px;
    margin: 0px 20px;
    cursor: pointer;
}

button span {
    display: inline-block;
    position: relative;
    transition: 0.5s;
    color: #004B84;
    font-weight: bold;
}

.one {
    background-color: white;
    border: 2px #004B84 solid;
}

.two {
    background-color: #fffbe4;
    border: 2px #004B84 solid;
}

.three {
    background-color: #c6eeff;
    border: 2px #004B84 solid;
}

.one span {
    margin: 0px 0px 45px;
}

.two span, .three span {
    margin: 20px 0px;
}

.one input {
    margin-bottom: 20px;
}

.two input, .three input {
    margin-bottom: 20px;
}

button span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

button:hover span {
    padding-right: 25px;
}

button:hover span:after {
    opacity: 1;
    right: 0;
}

