body {
    width: 1200px;
}

/* header */
header {
    position: sticky;
    top: 0;
}

header div {
    background-color: #c6eeff;
    margin: 0px;
    height: 50px;
}

header img {
    float: left;
    height: 36px;
    margin: 7px;
}

header h1 {
    float: left;
    display: inline;
    color: #004B84;
    padding-top: 6px;
    margin: 0px;
    letter-spacing: 5px;
    font-size: 28px;
}

.current_time {
    float: left;
    height: 29px;
    font-size: 20px;
    color: #004B84;
    background-color: white;
    padding: 4px 20px;
    margin: 6px 15px;
    border-radius: 10px;
    letter-spacing: 2px
}

.subtitle {
    float: right;
    font-size: 26px;
    font-weight: normal;
    letter-spacing: 3px;
    margin: 2px 5px 0px;
}

.logout {
    float: right;
    height: 50px;
    background: none;
}

.logout img {
    height: 30px;
    margin: 10px;
    margin-left: 5px;
}

/* navbar */
nav, form {
    float: left;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 60px;
    height: 500px;
    background-color: #fffbe4;
    color: #004B84;
    font-weight: 700;
}

nav a {
    text-decoration: none;
    color: inherit;
    display: block;
    text-align: center;
    font-size: 15px;
    padding: 5px;
}

nav .second_img {
    opacity: 0;
}

nav a:hover {
    background-color: #4479a1;
    color: white;
}

nav a:hover .first_img {
    opacity: 0;
}

nav a:hover .second_img {
    opacity: 1;
}

nav img {
    position: absolute;
    left: 22px;
}

ul p {
    font-size: 12px;
    text-align: center;
    color: #004B84;
    margin-top: 30px;
    margin-left: 3px;
    letter-spacing: 2px;
}

.user {
    font-size: 14px;
    text-align: center;
    color: #004B84;
    margin-top: 35px;
    letter-spacing: 1px;
}

.update_date, .update_time {
    font-size: 14px;
}

main div {
    float: left;
    width: 1120px;
    margin: 5px 10px;
}

/* 圖 */
#emp_occu_bed, #outp_emerg_count, #wait_gender, #gen_icu {
    width: 240px;
}

#department, #vacancy {
    width: 600px;
}

.c3-bar {
    stroke-width: 2px; /* 控制間隔大小 */
    stroke: #7fe590eb;  /* 顏色可根據需要調整 */
}