body {
    width: 1200px;
    overflow-x: hidden;
}

/* header */
header {
    position: sticky;
    top: 0;
}

header div {
    background-color: #c6eeff;
    margin: 0px;
    height: 50px;
}

header img {
    float: left;
    height: 36px;
    margin: 7px;
}

header h1 {
    float: left;
    display: inline;
    color: #004B84;
    padding-top: 6px;
    margin: 0px;
    letter-spacing: 5px;
    font-size: 28px;
}

.current_time {
    float: left;
    height: 29px;
    font-size: 20px;
    color: #004B84;
    background-color: white;
    padding: 4px 20px;
    margin: 6px 15px;
    border-radius: 10px;
    letter-spacing: 2px
}

.subtitle {
    float: right;
    font-size: 26px;
    font-weight: normal;
    letter-spacing: 3px;
    margin: 2px 25px 0px;
}

/* navbar */
nav {
    float: left;
    width: 60px;
    height: 500px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #fffbe4;
    color: #004B84;
    font-weight: 700;
}

nav a {
    text-decoration: none;
    color: inherit;
    display: block;
    text-align: center;
    font-size: 15px;
    padding: 5px;
}

nav .second_img {
    opacity: 0;
}

nav a:hover {
    background-color: #4479a1;
    color: white;
}

nav a:hover .first_img {
    opacity: 0;
}

nav a:hover .second_img {
    opacity: 1;
}

nav img {
    position: absolute;
    left: 22px;
}

ul p {
    display: inline-block;
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 12px;
    color: #004B84;
    margin-top: 110px;
}

.update_date, .update_time {
    color: #004B84;
    font-weight: bold;
    font-size: 14px;
}

/* main */
main {
    display: flex;
}

table {
    float: left;
    display: block;
    width: 0px;
    margin: 10px;
    flex-grow: 1;
    overflow-x: scroll;
    table-layout: fixed;
}

table, th, td {
    /* border: #004B84 1px solid; */
    border-collapse: collapse;
}

th, td {
    border: #004B84 1.3px solid;
    padding: 8px;
    white-space: nowrap;
}

th.auto-width, td.auto-width {
    width: auto; /* 讓某一列的寬度自動調整 */
}

/* 捲軸 */
table::-webkit-scrollbar {
    height: 10px;
}

table::-webkit-scrollbar-thumb {
    background-color: #c6eeff;
    -webkit-border-radius: 10px;
}

table::-webkit-scrollbar-thumb:hover {
    background-color: #beebff;
}

/* table::-webkit-scrollbar-track {
    background-color: #fffbe4;
} */